extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 Welcome to HyperCMS User Result Display Form
                p The pages provides the results of the previous database request.
                ul
                    li=email
                    li=lastname
                    li=firstname
                    li=middlename
                    li=phone
                    li=job
                    li=role
                form(action='/usermanagement/nextaction')
                    button.btn.btn-primary(type='submit', name='button_cancel', value='cancel_session') Cancel session?
                    button.btn.btn-primary(type='submit', name='button_new', value='new') New HCMS user & action?